<style>
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,400);
</style>
<div lang="es" style="min-width: 320px; margin: 0; padding: 20px 0; font-family: Open Sans, sans-serif;">
  <div style="max-width: 720px; margin: 0 auto;">
    <!-- body -->
    <div class="body" style="color: #9f9f9f">
      <div style="max-width: 650px; margin: 0 auto;">
        <div style="padding: 20px 50px; border-bottom: 1px solid #ccc; text-align: center;">
          <%= image_tag 'isologotipo-login.png' %>
        </div>

        <div>
          <p><%= "#{t('new_message_email.hi')} George," %></p> <!-- TODO: Change name -->
          <p><%= "#{t('new_message_email.got_new_message')} " %><span style="color: black; font-weight: bold;">Luciano Zemin</span> on Thursday at 19pm.</p><!-- TODO: Change name and hours -->
        </div>
      </div>

      <div style="padding: 25px 10px; background-color: #f6f6f6">
        <p style="max-width: 650px; margin: 0 auto; text-align: justify; font-style: italic; font-size: 14px; line-height: 22px;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><!-- TODO: Change message -->
      </div>

      <div style="max-width: 650px; margin: 0 auto; text-align: center; margin-top: 35px;">
        <a href="" style="background-color: rgb(255, 225, 17); padding: 15px 70px; border-radius: 25px; color: black; font-weight: bold; text-decoration:none;"><%= t('new_message_email.view_on_deskspotting') %></a>
        <p style="margin-top: 25px;"><%= t('new_message_email.reply') %></p>
      </div>

      <div style="min-width: 650px; margin: 0 auto; display: table; border-bottom: 1px solid #ccc; padding-bottom: 15px;">
        <p style="display: table-cell; vertical-align: middle;">
          <%= t('new_message_email.team') %>
        </p>
        <div class="social-icons" style="min-width: 216px; display: table-cell; vertical-align: middle; text-align: right;">
          <div class="twitter social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -1px 0px;"></div>
          <div class="facebook social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -44px 0px;"></div>
          <div class="linkedin social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -87px 0px;"></div>
          <div class="instagram social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -130px 0px;"></div>
        </div>
      </div>

    </div>
  </div>
</div>
