<style>
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,400);
</style>
<div lang="es" style="min-width: 320px; margin: 0; padding: 20px 0; font-family: Open Sans, sans-serif;">
  <div style="max-width: 720px; margin: 0 auto;">
    <!-- body -->
    <div class="body" style="color: #9f9f9f">
      <div style="max-width: 650px; margin: 0 auto;">
        <div style="padding: 20px 50px; border-bottom: 1px solid #ccc; text-align: center;">
          <%= image_tag 'isologotipo-login.png' %>
        </div>
      </div>

      <div style="max-width: 650px; margin: 0 auto;">
        <!-- TODO: Create if for this sections -->

        <!-- Content -->
        <div class="customer-receipt" style="  display: block; margin-bottom: 50px; margin: 15px 0;">
          <div class="title" style="text-transform: uppercase; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; color: black; margin: 15px 0;">
            Customer Receipt
          </div>
          <div class="separator long" style="  background-color: #ffe111;
  height: 2px; "></div>
          <div style="  display: block; text-align: center; margin-top: 15px;">
            <div class="date" style="display: inline-block; text-align: center; margin-right: 20px; ">
              Apr 17, 2015
            </div>
            <div class="bar" style=" display: inline-block; width: 2px; background-color: #efefef; height: 25px;"></div>
            <div class="receipt-number" style="display: inline-block; margin: 0 20px; ">
              receipt #201565051
            </div>
            <div class="bar" style=" display: inline-block; width: 2px; background-color: #efefef; height: 25px;"></div>
            <div class="contact" style="display: inline-block; margin-left: 20px; margin-top: 10px">
              www.deskspotting.com/help/contact
            </div>
          </div>
        </div>
        <div class="host" style="margin-top: 30px;" >
          <div class="title" style="text-transform: uppercase; font-family: 'Open Sans', sans-serif;
  font-size: 14px; font-weight: bold; color: black; margin: 15px 0;">
            Host
          </div>
          <div class="separator long" style="  background-color: #ffe111; height: 2px; "></div>
          <div style="  display: block; margin-top: 15px; font-size: 0">
            <div style="  display: inline-block; vertical-align: top; width: 50%; font-size: 16">
              <div class="venue-name">
                <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                  Vanue name:
                </div>
                <span></span>
              </div>
              <div class="street-adress">
                <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                  Street address:
                </div>
                <span></span>
              </div>
              <div class="country">
                <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                  Country:
                </div>
                <span></span>
              </div>
              <div class="city">
                <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                  City / Neighborhood:
                </div>
                <span></span>
              </div>
            </div>
            <div style="  display: inline-block;
    vertical-align: top; width: 50%; font-size: 16">
              <div class="zip-code">
                <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                  Zip / Postal code:
                </div>
                <span></span>
              </div>
              <div class="email">
                <div class="subtitle"style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                  Email:
                </div>
                <span></span>
              </div>
              <div class="phone">
                <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                  Phone-number:
                </div>
                <span></span>
              </div>
            </div>
          </div>
        </div>
        <!-- space rental, deposit and total payout -->
        <div class="header" style="  font-size: 0; height: 80px; margin: 15px 0;">
          <div class="yellow-container" style="  display: inline-block; background-color: #ffe111;
  width: 75%; font-size: 14px; height: 100%; vertical-align: top; font-size: 0;">
            <div  class="space-rental "style=" display: inline-block; font-size: 14px; width: 32%; text-align: center; vertical-align: top;   padding: 15px 0; height: 50px;">
              <%= image_tag 'ic_profile_info_black.png' %>
              <p class="concept" style=" display: inline-block; margin: 0; color: black; vertical-align: top">
                Space Rental
              </p>
              <p class="value"  style="text-transform: uppercase; font-family: 'Open Sans', sans-serif;   font-size: 14px;   font-weight: bold; color: black; margin-right: 5px; display: inline-block; display: block">$100</p>
            </div>
            <div class="plus" style=" display: inline-block; font-size: 14px; width: 2%; text-align: center; vertical-align: top; padding: 30px 0; height: 50px">
              <p class="concept" style=" display: inline-block; margin: 0; weight: bold; color: black">+</p>
            </div>
            <div class="deposit" style=" display: inline-block; font-size: 14px; width: 32%; text-align: center; vertical-align: top; padding: 15px 0; height: 50px">
              <%= image_tag 'ic_profile_info_black.png' %>
              <p class="concept" style=" display: inline-block; margin: 0; color: black; vertical-align: top">
                Deposit
              </p>
              <p class="value"  style="text-transform: uppercase;   font-family: 'Open Sans', sans-serif;   font-size: 14px;   font-weight: bold; color: black;  margin-right: 5px; display: block">$100</p>
            </div>
            <div class="minus" style=" display: inline-block; font-size: 14px; width: 2%; text-align: center; vertical-align: top; padding: 30px 0; height: 50px">
              <p class="concept" style=" display: inline-block; margin: 0; weight: bold; color: black">-</p>
            </div>
            <div class="commission" style=" display: inline-block; font-size: 14px; width: 32%; text-align: center; vertical-align: top; padding: 15px 0; height: 50px">
              <%= image_tag 'ic_profile_info_black.png'%>
              <p class="concept" style=" display: inline-block; margin: 0; color: black; vertical-align: top">
                DS Commission
              </p>
              <p class="value"  style="text-transform: uppercase;   font-family: 'Open Sans', sans-serif;   font-size: 14px;   font-weight: bold; color: black;  margin-right: 5px; display: block">$100</p>
            </div>
          </div>
          <div class="total" style="  background-color: #efefef; display: inline-block; width: 25%;
  font-size: 14px; text-align: center; vertical-align: top; padding: 15px 0; height: 50px; ">
            <p class="concept" style=" display: ineline-block; margin: 0; color: black">
              TOTAL PAYOUT
            </p>
            <p class="value" style="text-transform: uppercase;   font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; color: black; margin-right: 5px; display: block;">$100</p>
          </div>
        </div>
        <!-- check in, check out -->
        <div class="booking-info" style="display: block;">
          <div class="space-type" style="display: inline-block;">
            <div class="title"  style="text-transform: uppercase;   font-family: 'Open Sans', sans-serif;   font-size: 14px;   font-weight: bold; color: black; margin: 15px 0;  margin-right: 5px; display: inline-block;">
              Space Type:
            </div>
            <span style=" display: inline-block; text-transform: uppercase;">Meeting room</span>
          </div>
          <div class="confirmation" style="display: inline-block; float: right; margin-top: 15px; ">
            <span>Confirmation code:</span>
            <div class="code" style="display: inline-block;">
              PZY4KB
            </div>
          </div>
          <div class="separator long" style="  background-color: #ffe111;   height: 2px; "></div>
          <div class="check" style="text-align: center">
            <div class="column" style=" display: inline-block; margin: 10px 20px; text-align: center;">
              <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184; display: block; text-align: center;">
                1
              </div>
              <span style="display: block; text-align: center;">Spaces</span>
            </div>
            <div class="bar" style=" display: inline-block; width: 2px; background-color: #efefef; height: 25px;"></div>
            <div class="column" style=" display: inline-block; margin: 10px 20px; text-align: center;">
              <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184; display: block; text-align: center;">
                01/16/15 08:00
              </div>
              <span style="display: block; text-align: center;">Check in</span>
            </div>
            <div class="bar" style=" display: inline-block; width: 2px; background-color: #efefef; height: 25px;"></div>
            <div class="column" style=" display: inline-block; margin: 10px 20px; text-align: center;">
              <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184; display: block; text-align: center;">
                01/26/15 08:00
              </div>
              <span style="display: block; text-align: center;">Check out</span>
            </div>
          </div>
        </div>
        <!-- guest payment -->
        <div class="guest-payment-container" style="font-size: 0">
          <div class="guest" style="display: inline-block; width: 50%; vertical-align: top; font-size: 14px;">
            <div class="title" style="text-transform: uppercase; font-family: 'Open Sans', sans-serif;
  font-size: 14px; font-weight: bold; color: black; margin: 15px 0; padding-right: 10px">
              Guest
            </div>
            <div class="separator long" style="  background-color: #ffe111; height: 2px; "></div>
            <div class="box" style="margin-top: 15px">
              <div class="right-info">
                <div>
                  <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                    First name:
                  </div>
                  <span>Matias</span>
                </div>
                <div>
                  <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                    Last name:
                  </div>
                  <span>Lorenzo</span>
                </div>
                <div>
                  <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                    Street address:
                  </div>
                  <span>888 Street</span>
                </div>
                <div>
                  <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                    E-mail:
                  </div>
                  <span>info@loremimpsum.com</span>
                </div>
                <div>
                  <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                    Phone number:
                  </div>
                  <span>(UK)+44 156-4586</span>
                </div>
              </div>
            </div>
          </div>
          <div class="payment" style="display: inline-block; width: 50%; vertical-align: top; font-size: 14px;">
            <div class="title" style="text-transform: uppercase;   font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; color: black; margin: 15px 0;">
              Payout
            </div>
            <div class="separator long" style="  background-color: #ffe111;
  height: 2px; "></div>
            <div class="box" style="margin-top: 15px">
              <div class="right-info">
                <div>
                  <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                   Bank name:
                  </div>
                  <span>Lorem impsum dolor</span>
                </div>
                <div>
                  <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                    Account number:
                  </div>
                  <span>xxxxxxxxxx2359</span>
                </div>
                <div>
                  <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                    Holder:
                  </div>
                  <span>Lorem impsum</span>
                </div>
                <div>
                  <div class="subtitle" style=" font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; display: inline-block; margin: 5px 5px 5px 0px; color: #808184;">
                    Funds Transferred On:
                  </div>
                  <span>23/10/15</span>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div style="height: 50px; margin-top: 20px; text-align: center">
           <button style="border: 2px solid #00cca5;padding: 10px 20px; border-radius: 40px; color: #808184; background-color: transparent; font-weight: 700; text-align: center; width: 250px; ">Print</button>
        </div>

      <!-- END CONTENT -->

        <p style="line-height: 30px; padding: 25px 0;">
          <%= t('host_cancellation_email.terms1') %>
          <a href="" style="color: rgba(255,225,17,0.9); font-weight: bold; text-decoration: none;"><!-- TODO: Change policy link -->
            <%= " #{t('host_cancellation_email.cancellation_policy')} " %>
          </a>
          <%= t('host_cancellation_email.terms2') %>
          <a href="" style="color: rgba(255,225,17,0.9); font-weight: bold; text-decoration: none;"><!-- TODO: Change terms link -->
            <%= " #{t('host_cancellation_email.terms_of_service')}." %>
          </a>
        </p>
      </div>

      <div style="min-width: 650px; margin: 0 auto; display: table; border-bottom: 1px solid #ccc; padding-bottom: 15px;">
        <p style="display: table-cell; vertical-align: middle; font-weight: 100;">
          <%= t('new_message_email.team') %>
        </p>
        <div class="social-icons" style="min-width: 216px; display: table-cell; vertical-align: middle; text-align: right;">
          <div class="twitter social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -1px 0px;"></div>
          <div class="facebook social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -44px 0px;"></div>
          <div class="linkedin social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -87px 0px;"></div>
          <div class="instagram social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -130px 0px;"></div>
        </div>
      </div>

    </div>
  </div>
</div>
