<style>
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,400);
</style>
<div lang="es" style="min-width: 320px; margin: 0; padding: 20px 0; font-family: Open Sans, sans-serif;">
  <div style="max-width: 720px; margin: 0 auto;">
    <!-- body -->
    <div class="body" style="color: #9f9f9f">
      <div style="max-width: 650px; margin: 0 auto;">
        <div style="padding: 20px 50px; border-bottom: 1px solid #ccc; text-align: center;">
          <%= image_tag 'isologotipo-login.png' %>
        </div>

        <div>
          <p><%= "#{t('guest_review_email.hi')} #{@booking.owner.name}," %></p>
          <p>
            <%= "#{t('guest_review_email.checked_out')} " %>
            <span style="color:black; font-weight: bold;"><%= t("spaces.type.#{@booking.space.s_type}") %></span>
            <%= " #{t('guest_review_email.at')} " %>
            <span style="color:black; font-weight: bold;"><%= @booking.space.venue.name %></span>
          </p>
        </div>
      </div>

      <div style="display: table; margin: 0 auto; padding-top: 20px;">
        <div style="padding: 0 15px; text-align: center; display: table-cell;">
          <p style="line-height: 25px;">
            <span style="font-weight: bold;"><%= (@booking.hour?) ? @booking.to.to_s(format = :custom_only_day) : ((@booking.to - @booking.from) / 1.day).round %></span>
            <br>
            <span style="font-size: 14px;"><%= (@booking.hour?) ? t('guest_review_email.date') : t('guest_review_email.days') %></span>
          </p>
        </div>

        <div style="text-align: center; display: table-cell; font-size: 20px; vertical-align: middle; font-weight: 100;">|</div>

        <div style="padding: 0 15px; text-align: center; display: table-cell;">
          <p style="line-height: 25px;">
            <span style="font-weight: bold;"><%= @booking.quantity %></span>
            <br>
            <span style="font-size: 14px;"><%= t('receipt.spaces') %></span>
          </p>
        </div>

        <div style="text-align: center; display: table-cell; font-size: 20px; vertical-align: middle; font-weight: 100;">|</div>

        <div style="padding: 0 15px; text-align: center; display: table-cell;">
          <p style="line-height: 25px;">
            <span style="font-weight: bold;"><%= @booking.from.to_s(format = (@booking.hour?)? :custom_only_hours : :custom_only_day) %></span>
            <br>
            <span style="font-size: 14px;"><%= t('guest_review_email.check_in') %></span>
          </p>
        </div>

        <div style="text-align: center; display: table-cell; font-size: 20px; vertical-align: middle; font-weight: 100;">|</div>

        <div style="padding: 0 15px; text-align: center; display: table-cell;">
          <p style="line-height: 25px;">
            <span style="font-weight: bold;"><%= @booking.to.to_s(format = (@booking.hour?)? :custom_only_hours : :custom_only_day) %></span>
            <br>
            <span style="font-size: 14px;"><%= t('guest_review_email.check_out') %></span>
          </p>
        </div>
      </div>

      <div style="background-color: #f6f6f6; text-align: center; padding: 25px 0; margin: 20px 0;">
        <a href='<%= "#{Rails.configuration.base_url}#{venue_review_booking_path(@booking)}#{(@booking.owner.is_a?(Organization)) ? '?login_as_organization=' + @booking.owner.id.to_s : ''}" %>' style="background-color: rgb(255, 225, 17); padding: 10px 70px; border-radius: 25px; color: black; font-weight: bold; text-decoration:none; text-transform: uppercase;">
          <%= t('guest_review_email.rate_stay') %>
        </a>
      </div>


      <div style="min-width: 650px; margin: 0 auto; display: table; border-bottom: 1px solid #ccc; padding-bottom: 15px;">
        <p style="display: table-cell; vertical-align: middle; font-weight: 100;">
          <%= t('new_message_email.team') %>
        </p>
        <div class="social-icons" style="min-width: 216px; display: table-cell; vertical-align: middle; text-align: right;">
          <div class="twitter social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -1px 0px;"></div>
          <div class="facebook social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -44px 0px;"></div>
          <div class="linkedin social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -87px 0px;"></div>
          <div class="instagram social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -130px 0px;"></div>
        </div>
      </div>

    </div>
  </div>
</div>
