<style>
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,400);
</style>
<div lang="es" style="min-width: 320px; margin: 0; padding: 20px 0; font-family: Open Sans, sans-serif;">
  <div style="max-width: 720px; margin: 0 auto;">
    <!-- body -->
    <div class="body" style="color: #9f9f9f">
      <div style="max-width: 650px; margin: 0 auto;">
        <div style="padding: 20px 50px; border-bottom: 1px solid #ccc; text-align: center;">
          <%= image_tag 'isologotipo-login.png' %>
        </div>

        <div>
          <p><%= (@for_type == 'host') ? "#{@message.booking.space.venue.owner.name}," :  "#{@message.booking.owner.name},"%></p>

          <p><%= (@for_type == 'host') ? "#{t('host_cancellation_email.sorry_cancel')}:" : "#{t('host_cancellation_email.unfortunately', name: @message.booking.space.venue.owner.name)}:"%></p>
        </div>
      </div>

      <div style="background-color: #f6f6f6; text-align: center; padding: 35px 0;">
        <%= image_tag 'venue-default.png', style: 'width: 65px;' %>
        <p style="color: black; font-size: 25px; margin: 10px 0;"><% @message.booking.space.venue.name %></p>

        <p style="color: black; margin: 10px 0;">
          <span style="font-weight: 300;"><%= "#{t('host_cancellation_email.space')}: " %></span>
          <span style="font-weight: bold;"><%= @message.booking.space.name %></span>
        </p>

        <div style="display: table; margin: 0 auto; padding-top: 20px;">
          <div style="padding: 0 15px; text-align: center; display: table-cell;">
            <p style="line-height: 25px;">
              <span style="font-weight: bold;"><%= (@message.booking.hour?) ? @message.booking.to.to_s(format = :custom_only_day) : ((@message.booking.to - @message.booking.from) / 1.day).round %></span>
              <br>
              <span style="font-size: 14px;"><%= (@message.booking.hour?) ? t('guest_review_email.date') : t('guest_review_email.days') %></span>
            </p>
          </div>

          <div style="text-align: center; display: table-cell; font-size: 20px; vertical-align: middle; font-weight: 100;">|</div>

          <div style="padding: 0 15px; text-align: center; display: table-cell;">
            <p style="line-height: 25px;">
              <span style="font-weight: bold;"><%= @message.booking.quantity %></span>
              <br>
              <span style="font-size: 14px;"><%= t('receipt.spaces') %></span>
            </p>
          </div>

          <div style="text-align: center; display: table-cell; font-size: 20px; vertical-align: middle; font-weight: 100;">|</div>

          <div style="padding: 0 15px; text-align: center; display: table-cell;">
            <p style="line-height: 25px;">
              <span style="font-weight: bold;"><%= @message.booking.from.to_s(format = (@message.booking.hour?)? :custom_only_hours : :custom_only_day) %></span>
              <br>
              <span style="font-size: 14px;"><%= t('guest_review_email.check_in') %></span>
            </p>
          </div>

          <div style="text-align: center; display: table-cell; font-size: 20px; vertical-align: middle; font-weight: 100;">|</div>

          <div style="padding: 0 15px; text-align: center; display: table-cell;">
            <p style="line-height: 25px;">
              <span style="font-weight: bold;"><%= @message.booking.to.to_s(format = (@message.booking.hour?)? :custom_only_hours : :custom_only_day) %></span>
              <br>
              <span style="font-size: 14px;"><%= t('guest_review_email.check_out') %></span>
            </p>
          </div>
        </div>
      </div>

      <div style="max-width: 650px; margin: 0 auto;">
        <%- if @message.booking.payment.present? && @message.booking.payment.payin_succeeded? %>

          <!-- refunded section -->
          <p>
            <%- refund = @message.booking.payment.mangopay_payouts.refund.last %>
            <%= t((@for_type == 'host') ? 'host_cancellation_email.refund_host' : 'host_cancellation_email.refund_guest', currency_sym: t("currency.#{@message.booking.space.venue.currency.downcase}.symbol"), amount: (refund.present?) ? refund.amount : 0) %><!-- TODO: Change guest name -->
          </p>
          <!-- END refunded section -->
        <%- end %>


        <p style="line-height: 30px; padding: 25px 0;">
          <%= t('host_cancellation_email.terms1') %>
          <a href='<%= privacy_policy_url %>' style="color: rgba(255,225,17,0.9); font-weight: bold; text-decoration: none;">
            <%= " #{t('host_cancellation_email.cancellation_policy')} " %>
          </a>
          <%= t('host_cancellation_email.terms2') %>
          <a href='<%= our_terms_url %>' style="color: rgba(255,225,17,0.9); font-weight: bold; text-decoration: none;">
            <%= " #{t('host_cancellation_email.terms_of_service')}." %>
          </a>
        </p>
      </div>

      <div style="min-width: 650px; margin: 0 auto; display: table; border-bottom: 1px solid #ccc; padding-bottom: 15px;">
        <p style="display: table-cell; vertical-align: middle; font-weight: 100;">
          <%= t('new_message_email.team') %>
        </p>
        <div class="social-icons" style="min-width: 216px; display: table-cell; vertical-align: middle; text-align: right;">
          <div class="twitter social-icon" style="width: 44px; height: 44px; display: inline-block; margin-right: 10px; background-image: url(<%= image_url('ic_twitter_line.png') %>);"></div>
          <div class="facebook social-icon" style="width: 44px; height: 44px; display: inline-block; margin-right: 10px; background-image: url(<%= image_url('ic_facebook_line.png') %>);"></div>
          <div class="linkedin social-icon" style="width: 44px; height: 44px; display: inline-block; margin-right: 10px; background-image: url(<%= image_url('ic_linkedin_line.png') %>);"></div>
          <div class="instagram social-icon" style="width: 44px; height: 44px; display: inline-block; margin-right: 10px; background-image: url(<%= image_url('ic_instagram_line.png') %>);"></div>
        </div>
      </div>

    </div>
  </div>
</div>
