<style>
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,400);
</style>
<div lang="es" style="min-width: 320px; margin: 0; padding: 20px 0; font-family: Open Sans, sans-serif;">
  <div style="max-width: 720px; margin: 0 auto;">
    <!-- body -->
    <div class="body" style="color: #9f9f9f">
      <div style="max-width: 650px; margin: 0 auto;">
        <div style="padding: 20px 50px; border-bottom: 1px solid #ccc; text-align: center;">
          <%= image_tag 'isologotipo-login.png' %>
        </div>

        <div>
          <p><%= "#{@message.recipient_name}," %></p>

          <!-- TODO: If sorry cancel or unfortunately -->
          <% if @message.venue_recipients.include? user.email? %>
            <p><%= "#{t('host_cancellation_email.unfortunately', name: @message.from)}:" %></p>
          <% else %>
            <p><%= "#{t('host_cancellation_email.sorry_cancel')}:" %></p>
          <% end %>

        </div>
      </div>

      <div style="background-color: #f6f6f6; text-align: center; padding: 35px 0;">
        <%= image_tag 'venue-default.png', style: 'width: 65px;' %>
        <p style="color: black; font-size: 25px; margin: 10px 0;">@message.boooking.space.venue.name</p>

        <p style="color: black; margin: 10px 0;">
          <span style="font-weight: 300;"><%= "#{t('host_cancellation_email.space')}: " %></span>
          <span style="font-weight: bold;">@message.boooking.space.name</span>
        </p>

        <% if @message.booking.from.to_date == @message.booking.to.to_date %>
          <div style="display: table; margin: 0 auto; padding-top: 20px;">
            <div style="padding: 0 15px; text-align: center; display: table-cell;">
              <p style="line-height: 25px;">
                <span style="font-weight: bold;"><%= @message.booking.from.to_date %></span>
                <br>
                <span style="font-size: 14px;"><%= t('host_cancellation_email.date') %></span>
              </p>
            </div>
            <div style="text-align: center; display: table-cell; font-size: 20px; vertical-align: middle; font-weight: 100;">|</div>
            <div style="padding: 0 15px; text-align: center; display: table-cell;">
              <p style="line-height: 25px;">
                <span style="font-weight: bold;"><%= @message.boooking.quantity %></span>
                <br>
                <span style="font-size: 14px;"><%= t('host_cancellation_email.spaces') %></span>
              </p>
            </div>
            <div style="text-align: center; display: table-cell; font-size: 20px; vertical-align: middle; font-weight: 100;">|</div>
            <div style="padding: 0 15px; text-align: center; display: table-cell;">
              <p style="line-height: 25px;">
                <span style="font-weight: bold;"><%= @message.booking.from.strftime("%H:%M") %></span>
                <br>
                <span style="font-size: 14px;"><%= t('host_cancellation_email.check_in') %></span>
              </p>
            </div>
            <div style="text-align: center; display: table-cell; font-size: 20px; vertical-align: middle; font-weight: 100;">|</div>
            <div style="padding: 0 15px; text-align: center; display: table-cell;">
              <p style="line-height: 25px;">
                <span style="font-weight: bold;"><%= @message.booking.to.strftime("%H:%M") %></span>
                <br>
                <span style="font-size: 14px;"><%= t('host_cancellation_email.check_out') %></span>
              </p>
            </div>
          </div>
        <% else %>
            <div style="padding: 0 15px; text-align: center; display: table-cell;">
              <p style="line-height: 25px;">
                <span style="font-weight: bold;"><%= @message.boooking.quantity %></span>
                <br>
                <span style="font-size: 14px;"><%= t('host_cancellation_email.spaces') %></span>
              </p>
            </div>
            <div style="text-align: center; display: table-cell; font-size: 20px; vertical-align: middle; font-weight: 100;">|</div>
            <div style="padding: 0 15px; text-align: center; display: table-cell;">
              <p style="line-height: 25px;">
                <span style="font-weight: bold;"><%= @message.booking.from.strftime("%m-%d-%Y") %></span>
                <br>
                <span style="font-size: 14px;"><%= t('host_cancellation_email.check_in') %></span>
              </p>
            </div>
            <div style="text-align: center; display: table-cell; font-size: 20px; vertical-align: middle; font-weight: 100;">|</div>
            <div style="padding: 0 15px; text-align: center; display: table-cell;">
              <p style="line-height: 25px;">
                <span style="font-weight: bold;"><%= @message.booking.to.strftime("%m-%d-%Y") %></span>
                <br>
                <span style="font-size: 14px;"><%= t('host_cancellation_email.check_out') %></span>
              </p>
            </div>
          </div>
        <% end %>
      </div>

      <div style="max-width: 650px; margin: 0 auto;">
        <!-- TODO: Create if for this sections -->
        <% if @message.m_type == 'refunded' %>
          <!-- refunded section -->
          <p>
            <%= t('host_cancellation_email.refunded', name: 'JP') %><!-- TODO: Change guest name -->
            <span style="color: black; font-weight: bold;">
              <%= " $#{'234'}." %><!-- TODO: Change amount -->
            </span>
          </p>
          <!-- END refunded section -->
        <% end %>
        <% if @message.m_type == 'paid' %>
          <!-- Receive payout section -->
          <p>
            <%= t('host_cancellation_email.payout') %>
            <span style="color: black; font-weight: bold;">
              <%= " $#{'234'} " %><!-- TODO: Change amount -->
            </span>
            <%= "#{t('host_cancellation_email.transferred')}:" %>
          </p>

          <p>
            <span style="font-weight: bold;"><%= "#{t('host_cancellation_email.bank_name')}: " %></span>
            Lorem ipsum <!-- TODO: Change bank name -->
          </p>
          <p>
            <span style="font-weight: bold;"><%= "#{t('host_cancellation_email.account_number')}: " %></span>
            xxxxxxxxxxxxxxxx2342 <!-- TODO: Change account number -->
          </p>
          <p>
            <span style="font-weight: bold;"><%= "#{t('host_cancellation_email.holder')}: " %></span>
            Lorem ipsum <!-- TODO: Change holder -->
          </p>
          <p>
            <span style="font-weight: bold;"><%= "#{t('host_cancellation_email.funds')}: " %></span>
            23/10/14 <!-- TODO: Change funds date -->
          </p>
          <!-- END Receive payout section -->
        <% end %>


        <p style="line-height: 30px; padding: 25px 0;">
          <%= t('host_cancellation_email.terms1') %>
          <a href="" style="color: rgba(255,225,17,0.9); font-weight: bold; text-decoration: none;"><!-- TODO: Change policy link -->
            <%= " #{t('host_cancellation_email.cancellation_policy')} " %>
          </a>
          <%= t('host_cancellation_email.terms2') %>
          <a href="" style="color: rgba(255,225,17,0.9); font-weight: bold; text-decoration: none;"><!-- TODO: Change terms link -->
            <%= " #{t('host_cancellation_email.terms_of_service')}." %>
          </a>
        </p>
      </div>

      <div style="min-width: 650px; margin: 0 auto; display: table; border-bottom: 1px solid #ccc; padding-bottom: 15px;">
        <p style="display: table-cell; vertical-align: middle; font-weight: 100;">
          <%= t('new_message_email.team') %>
        </p>
        <div class="social-icons" style="min-width: 216px; display: table-cell; vertical-align: middle; text-align: right;">
          <div class="twitter social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -1px 0px;"></div>
          <div class="facebook social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -44px 0px;"></div>
          <div class="linkedin social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -87px 0px;"></div>
          <div class="instagram social-icon" style="width: 40px; height: 40px; display: inline-block; margin-right: 14px; background-image: url(/assets/email-social-icons-sprite.png); background-size: 170px 80px !important; background-position: -130px 0px;"></div>
        </div>
      </div>

    </div>
  </div>
</div>
