<style>
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,400);
</style>
<div lang="es" style="min-width: 320px; margin: 0; padding: 20px 0; font-family: Open Sans, sans-serif;">
  <div style="max-width: 720px; margin: 0 auto;">
    <!-- body -->
    <div class="body" style="color: #9f9f9f">
      <div style="max-width: 650px; margin: 0 auto;">
        <div style="padding: 20px 50px; border-bottom: 1px solid #ccc; text-align: center;">
          <%= image_tag 'isologotipo-login.png' %>
        </div>

        <div>
          <p><%= "#{t('new_message_email.hi')} #{@message.to}," %></p>
          <p><%= "#{t('new_message_email.got_new_message')} " %><span style="color: black; font-weight: bold;"><%="#{@message.from}"%></span> on <%=I18n.l(@message.created_at, format: :long) %></p>
        </div>
      </div>

      <div style="padding: 25px 10px; background-color: #f6f6f6">
        <p style="max-width: 650px; margin: 0 auto; text-align: justify; font-style: italic; font-size: 14px; line-height: 22px;"><%=@message.message_text%></p>
      </div>

      <div style="max-width: 650px; margin: 0 auto; text-align: center; margin-top: 35px;">
        <a href='<%= "#{inbox_user_url(@message.recipient_owner)}#{(@message.recipient_owner.is_a?(Organization)) ? '?login_as_organization=' + @message.recipient_owner.owner.id.to_s : ''}" %>' style="background-color: #ffe111; padding: 15px 70px; border-radius: 25px; color: black; font-weight: bold; text-decoration:none;"><%= t('new_message_email.view_on_deskspotting') %></a>
        <p style="margin-top: 25px;"></p>
      </div>

      <div style="min-width: 650px; margin: 0 auto; display: table; border-bottom: 1px solid #ccc; padding-bottom: 15px;">
        <p style="display: table-cell; vertical-align: middle; font-weight: 100;">
          <%= t('new_message_email.team') %>
        </p>
        <div class="social-icons" style="min-width: 216px; display: table-cell; vertical-align: middle; text-align: right;">
          <div class="twitter social-icon" style="width: 44px; height: 44px; display: inline-block; margin-right: 10px; background-image: url(<%= image_url('ic_twitter_line.png') %>);"></div>
          <div class="facebook social-icon" style="width: 44px; height: 44px; display: inline-block; margin-right: 10px; background-image: url(<%= image_url('ic_facebook_line.png') %>);"></div>
          <div class="linkedin social-icon" style="width: 44px; height: 44px; display: inline-block; margin-right: 10px; background-image: url(<%= image_url('ic_linkedin_line.png') %>);"></div>
          <div class="instagram social-icon" style="width: 44px; height: 44px; display: inline-block; margin-right: 10px; background-image: url(<%= image_url('ic_instagram_line.png') %>);"></div>
        </div>
      </div>

    </div>
  </div>
</div>
